 
<div class="row pt-2 col-12 bg-light mr-auto ml-auto border-top border-bottom pb-4 ">
    <!-- Profile Bio -->
    <section class="col-12  col-lg-3 text-center border-right border-bottom pl-2 ">
        <ng-container *ngFor="let bio of objectBio  ">
            <div class="row col-12 col-md-12 col-lg-12 col-xl-12 text-center mr-auto ml-auto">
                <img class="rounded " src="{{bio.userImg}}" style="height:250px; width:250px">
            </div>
            <hr>
            <section class="row col-12  ">
                <div class="row col-6 border-bottom">Name: </div>   
                <div class="col-6 border-bottom">{{bio.userName}} </div>
                <div class="row col-6 border-bottom">Bike: </div>  
                <div class="col-6 border-bottom">{{bio.userBike}} </div> 
                
                <div class="row col-6 border-bottom">Experience: </div>  
                <div class="col-6 border-bottom">{{bio.drivingSince}} </div>
                <div class="row col-6 border-bottom"> Brand: </div>   
                <div class="col-6 border-bottom">{{bio.favBrand}} </div> 
                <div class="row col-6 ">Bio: </div>   
                <div class="col-6 ">{{bio.bio}} </div>
                

              
            </section> 
        </ng-container>
        
    </section>
    <!-- End Profile Bio -->

    <!-- Profile Form -->
    <section class="col-12 col-lg-5 border-bottom">
        <app-profileform></app-profileform>
    </section>
    <!-- End profile Form -->
    <section class="col-12  col-lg-3 border-bottom">
        <app-tags-and-ads></app-tags-and-ads>
    </section>
</div>
  