 
<div class="row mt-2 col-12 border-top">
    <!-- Profile Bio -->
    <div class="col-12  col-lg-3 text-center border-right pl-2 ">
        <ng-container *ngFor="let bio of objectBio ">
            <div class="row col-12 col-md-12 col-lg-12 col-xl-12 text-center mr-auto ml-auto">
                <img class="rounded " src="{{bio.userImg}}" style="height:250px; width:250px">
            </div>
            <div class="row col-12 ">
            <ul>
                <h4><strong>Name:</strong>{{" " +bio.userName}}</h4>
                <h5><strong>Level:</strong>{{" "+bio.userLevel}}</h5>
                <h5><strong>Bike:</strong> {{" " +bio.userBike}}</h5>
                <h5><strong>Driving Since:</strong> {{" " +bio.drivingSince}}</h5>
                <h5><strong>Favorite Brand:</strong> {{"" +bio.favBrand}}</h5>
                <h5><strong>Biography:</strong>{{""+ bio.bio}}</h5>
            </ul>
                
            </div> 
        </ng-container>
        
    </div>
    <!-- End Profile Bio -->

    <!-- Profile Form -->
    <div class="col-12 col-lg-5">
        <app-profileform></app-profileform>
    </div>
    <!-- End profile Form -->
</div>
