<section class="col-12 bg-white border">
    <section class="row pl-2">
        <h5>Search By:</h5>
        <nav>
            <ng-container *ngFor = "let tag of ObjectTags">
                <a href="{{tag.link}}"> {{"#"+tag.tagName+", "}} </a>
            </ng-container>
        </nav>
        <br/>
        <br/>
        <div class=" mt-5">
            <h5>Categories:</h5>
            <ul>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <li> Category 1</li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <li> Category 2</li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <li> Category 3</li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <li> Category 4</li>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <li> Category 5</li>
            </ul>
        </div>
    </section>
    <br>
    <!-- <div class="row justify-content-center">
        <img src="../../assets/160x600.png" >
    </div> -->
    
</section>